# ------------------------------------------------------------------------
# This file specifies intentionally untracked files that Git should ignore
# - https://git-scm.com/docs/gitignore
# ------------------------------------------------------------------------

# Numerous always-ignore extensions
*.bak
*.cvs
*.db
*.diff
*.err
*.log
*.orig
*.rej
*.zip

# Ignore all files with .lock extentions
*.lock
# but track
!composer.lock

# Dependencies
bower_components
node_modules

# Config files
/db.php
/config.php