body {
	background: #030917;
	box-shadow: 0px 0px 38px -2px rgba(0, 0, 0, 0.3);
}

.content {
	width: 1370px;
}
.grow {
	margin-top: 42px;
}

.left {
	flex: 1 0 65%;
	h2 {
		font-family: 'Gilroy';
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.03em;		
		color: #FFFFFF;		
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0;
	}
	h3 {
		margin-top: 10px;
		margin-bottom: 0;
		font-family: 'Gilroy';
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		flex: none;
		order: 1;
		flex-grow: 0;
	}
	.banner {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		border-radius: 16px;
		display: flex;
		justify-content: space-between;
		padding: 24px 32px;
		padding-bottom: 34px;
		background: url(/assets/img/admin/hand.svg) no-repeat top -22px right 13px/160px rgba(255,255,255,.08);
		.wrap {
			
		}
		.icon-hand {
			margin-right: 20px;
		}
		.kill-designer {
			width: 119px;
			height: 102px;
		}
	}

	h1 {
		margin-top: 40px;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 34px;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		flex: none;
		order: 0;
		flex-grow: 0;
	}




	.shart-tabs {
		display: flex;
		margin-top: 27px;
		align-items: center;
		a {
			margin-right: 30px;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			flex: none;
			order: 0;
			flex-grow: 0;
			padding-bottom: 5px;
			&.active {
				border-bottom: 2px solid #BC6EFB;
				font-weight: 500;
				position: relative;
    			top: -3px;
			}
		}
	}
	.sharts-wrap {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(113, 113, 113, 0.1) 100%);
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		border-radius: 32px;
	}
	.chart {

	}
}
.right {
	flex: 1 0 35%;
	.top {
		display: flex;
		justify-content: space-between;
	}
	.account-nav {

	}
	.calendar-wrap {

	}
}