.page-home {
	.section-7,
	.section-3 {
		margin-top: 150px;
		justify-content: space-between;
		h3 {
			font-style: normal;
			font-weight: 800;
			font-size: 32px;
			line-height: 38px;
			text-transform: capitalize;
			color: #EAEAEA;
			margin-bottom: 0px;
		}
		p {
			margin-top: 13px;
			margin-bottom: 13px;
		}
		.list {
			display: grid;
			flex-wrap: wrap;
			grid-template-columns: 1fr 1fr;
			width: 360px;
			div {
				flex: 0 0 30%;
			}
			svg {
				vertical-align: middle;
				margin-right: 7px;
			}
			margin-bottom: 3px;
		}
		.right {
			flex: 0 0 50%;
		}
		.btn {
			margin-top: 74px;
		}
	}
	.section-3 {
		h3 {
			font-weight: 800;
			font-size: 50px;
			line-height: 60px;
			text-transform: capitalize;
			color: #EAEAEA;
		}
		.right {
			img {
				margin-top: 30px;
				width: 681px;
				border-radius: 30px;
				overflow: hidden;
			}
		}
	}
	.section-7 {
		.grow {
			margin-top: 90px;
		}
		p {
			width: 90%;
		}
		.right {
			img {
				
			}
		}
		h3 {
			margin-top: 0;
		}
		.lists {
			display: flex;
			ul {
				flex: 0 0 58%;
    			margin: 0;
				padding: 0;
				margin-top: 8px;
				li {
					display: flex;
					margin-bottom: 10px;
					text-transform: capitalize;
					margin-bottom: 11px;
					line-height: 26px;
				}
				svg {
					flex: 0 0 30px;
					margin-right: 6px;
					position: relative;
					top: 3px;
				}
			}
			.small-list {
				flex: 0 0 36%;
				padding-right: 2%;
			}
		}
		.right {
			text-align: right;
			padding-right: 36px;
		}
	}
		
	.sec-title {
		text-align: center;
		font-weight: 800;
		font-size: 50px;
		line-height: 60px;
		text-transform: capitalize;
		color: #EAEAEA;
		margin-bottom: 42px; 
	} 

	.section-4 {
		margin-top: 150px;
		.g-list {
			width: 100%;
			.g-item {
				line-height: 80px;
				grid-template-columns: 30% 14% 29% 10% 23%;
				&:first-child {
					line-height: 90px;
					border-top: 2px solid #191b31;
				}
				div:last-child {
					padding-left: 35%;
				}
				&:nth-child(2n) {
					background: #0A101C;
					line-height: 40px;
				}
				.title:first-child {
					text-align: left;
					padding-left: 16px;
				}
			}
		}
	}
	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		.prod-card {
			color: #FFFFFF;
			padding: 20px 30px 28px 30px;
			background: #0A101C;
			border: 2px solid #3E4653;
			border-radius: 30px;
			text-align: center;
		}
	}
	.section-5 {
		margin-top: 150px;
		h3 {
			margin-bottom: 16px;
		}
		p {
			text-align: center;
		}
		.cards {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			.prod-card {
				color: #FFFFFF;
				padding: 20px 30px 28px 30px;
				background: #0A101C;
				border: 2px solid #3E4653;
				border-radius: 30px;
				text-align: center;
				h5 {
					font-size: 22px;
					line-height: 28px;
					text-transform: capitalize;
					margin-bottom: 20px;
					margin-top: 0;
				}
				.price {
					font-style: normal;
					font-weight: 800;
					font-size: 80px;
					line-height: 109px;
					text-transform: capitalize;
				}
				p {
					font-weight: 400;
					font-size: 18px;
					line-height: 26px;
					letter-spacing: -0.02em;
					text-transform: capitalize;			
					color: #fff;
					text-align: left;	
					margin-bottom: 0;
					padding: 0 20%;
					text-align: center;
				}
				&:nth-child(2) {
					background: linear-gradient(229.36deg, #8C52F4 -0.02%, #DC81FF 99.97%);
					margin: 0 19px;
					h5 {
						margin-top: 15px;
						margin-bottom: 25px;
						font-size: 32px;
						line-height: 40px;
					}
					.price {
						margin-top: 15px;
						margin-bottom: 30px;
					}
				}
				.icon-rubin {
					position: relative;
					left: 20px;
					top: 20px;
				}
			}
		}
	}
	.section-6 {
		margin-top: 150px;
		width: calc(100% + 200px);
		max-width: 100vw;
		position: relative;
		&:after {
			content:'';
			position: absolute;
			right: -20px;
			top: 0;
			height: 100%;
			width: 200px;
			background: linear-gradient(to right, transparent, #030917);
		}
		&:before {
			content:'';
			position: absolute;
			left: -200px;
			z-index: 99;
			top: 0;
			height: 100%;
			width: 180px;
			background: linear-gradient(to left, transparent, #030917);
		}
		h3 {
			margin-bottom: 10px;
		}
		p {
			text-align: center;
		}
		.cards {
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			margin-left: -180px;
			padding-left: 180px;
			padding-right: 180px;
			margin-top: 55px;
			white-space: nowrap;
			justify-content: left;
			overflow: hidden;
			cursor: pointer;
			&::-webkit-scrollbar {
				display: none;
			}
			&.active {
				cursor: grabbing;
				transition: all 0.2s ease-in-out;
				transform: scale(1.01);
			}
			.prod-card {
				
				white-space: initial;
				border-radius: 20px;
				flex: 0 0 377px;
				// max-width: 377px;
				height: 600px;
				padding-bottom: 64px;
				margin-right: 20px;
				h3 {
					margin-bottom: 16px;
				}
				h5 {
					margin-top: 28px;
					font-family: 'DM Sans';
					font-weight: 700;
					font-size: 24px;
					line-height: 180%;
					color: #FFFFFF;
					margin-bottom: 0;
				}
				span {
					font-size: 15px;
					line-height: 22px;
					color: #9FA4BC;
					display: inline-block;
					height: 52px;
					margin-top: 10px;
				}
				.price {
					margin-top: 38px;
					font-weight: 800;
					font-size: 80px;
					line-height: 109px;
					text-transform: capitalize;
					color: #FFFFFF;
					i {
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 16px;
					}
				}
				p {
					margin-top: 67px;
					color: #9FA4BC;
					height: 50px;
					font-family: 'DM Sans';
					font-weight: 400;
					font-size: 16px;
					line-height: 180%;
					text-align: center;
					color: #9FA4BC;
				}
				.btn {
					margin: 67px auto 0;
					line-height: 50px;
					width: 100%;
				}
			}
		}
	}
	.footer-section {
		// height: 382px;
		background: #000;
		.grow {
			padding-top: 93px;
			padding-bottom: 96px;
			padding-left: 50px;
			padding-right: 50px;
			justify-content: space-between;
		}
		h4 {
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 34px;
			line-height: 44px;
			text-align: left;
			color: #FFFFFF;
			margin-bottom: 0;
			margin-top: 0;
		}
		p {
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0.02em;
			color: #9FA4BC;
			text-align: left;
			width: 550px;
			max-width: 100%;
			margin-top: 9px;
			margin-bottom: 0;
		}
		.btn {
			line-height: 40px;
			width: 138px;
			margin-top: 40px;
		}
		ul {
			margin-top: 0;
			li {
				&, a {
					font-family: 'DM Sans';
					font-weight: 400;
					font-size: 18px;
					line-height: 30px;
					letter-spacing: 0.02em;
					margin-bottom: 12px;
				}
				a {
					color: #9FA4BC;
				}
			}
		}
	}


}