.admin-site {
  display: flex;
}
.admin-site .admin-details-wrap {
  flex: 0 0 70%;
  padding: 2rem 3rem;
  font-family: "Poppins", sans-serif;
}
.admin-site .admin-details-wrap .admin-hello {
  background: rgba(255, 255, 255, 0.08) url("/assets/img/admin/hand.svg") no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 8px 50px;
  border-radius: 20px;
  background-position: 100% -20px;
}
.admin-site .admin-details-wrap .admin-hello .hello-text {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  justify-content: center;
}
.admin-site .admin-details-wrap .admin-hello .hello-text h5 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}
.admin-site .admin-details-wrap .admin-hello .hello-text p {
  font-size: 18px;
}
.admin-site .admin-details-wrap .navigation {
  margin-top: 1rem;
}
.admin-site .admin-details-wrap .navigation h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.admin-site .admin-details-wrap .navigation .chart-select {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.admin-site .admin-details-wrap .navigation .chart-select div {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
}
.admin-site .admin-details-wrap .navigation .chart-select div:after {
  content: "";
  display: block;
  background: #8C52F4;
  opacity: 0;
  height: 3px;
  border-radius: 3px;
}
.admin-site .admin-details-wrap .navigation .chart-select div:hover:after {
  opacity: 1;
}
.admin-site .admin-details-wrap .navigation .chart-select div.active {
  font-weight: 500;
}
.admin-site .admin-details-wrap .navigation .chart-select div.active:after {
  opacity: 1;
}
.admin-site .admin-details-wrap .admin-chart {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(113, 113, 113, 0.1) 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 32px 43px 43px 48px;
  margin-top: 2rem;
  border-radius: 30px;
}
.admin-site .admin-details-wrap .admin-chart .report {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.admin-site .admin-details-wrap .admin-chart .report .caption {
  font-size: 18px;
}
.admin-site .admin-details-wrap .admin-chart .report .amount {
  font-size: 44px;
  line-height: 66px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.admin-site .sidebar {
  border-left: 2px #3E4653 solid;
  background: #0A101C;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 30%;
  padding: 2rem 0;
}
.admin-site .sidebar .controls {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.admin-site .sidebar .controls .bell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-site .sidebar .controls .admin {
  display: flex;
  font-size: 16px;
  border: 1px #3E4653 solid;
  border-radius: 30px;
  padding: 3px 20px 3px 3px;
}
.admin-site .sidebar .controls .admin img {
  margin-right: 12px;
}
.admin-site .sidebar .forms {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.admin-site .sidebar .forms input, .admin-site .sidebar .forms select {
  background: #030917;
  border: 1px #3E4653 solid;
  color: #fff;
  font-size: 14px;
  padding: 14px 22px;
  border-radius: 6px;
}
.admin-site .sidebar .forms label {
  font-size: 16px;
}
.admin-site .sidebar .forms .ban {
  margin-top: 1rem;
}
.admin-site .sidebar .forms .select {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.admin-site .sidebar .forms .ban-btn {
  background: #3E4653;
  font-size: 14px;
  border: 1px #3E4653 solid;
  padding: 14px 22px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}
.admin-site .sidebar .forms .add-btn {
  background: #BC6EFB;
  font-size: 14px;
  border: 1px #BC6EFB solid;
  padding: 14px 22px;
  color: #fff;
  margin-top: 2rem;
  font-weight: 600;
  border-radius: 40px;
}
.admin-site .sidebar .easepick-wrapper {
  margin-top: 1rem;
}
.admin-site .sidebar .easepick-wrapper .container > main {
  background: #ccc;
}

/*# sourceMappingURL=admin.css.map */
